// #C75A32
.corporations-screen
  background: #333;
  border-top: 4px solid #C75A32;
  h2
    background: #C75A32;
    color: #eee;
    margin: .25rem .25rem 1.25rem .25rem;
    padding: 1rem;
    img
      background: white;
      border: 4px solid white;
      border-radius: 50%;
